<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page-form1" class="list">
      <label class="item item-input" id="page-input2">
        <span class="input-label">Source person</span>
        <input type="number" placeholder="" ng-model="mdl.source" >
      </label>
      <label class="item item-input" id="page-input1">
        <span class="input-label">Destination person </span>
        <input type="number" placeholder="" ng-model="mdl.destination">
      </label>
    </form>
    <a  ui-sref="page2({path: path})" id="page-button1" class="button button-positive button-block">Get the path </a>
  </ion-content>
</ion-view>